@item-margin: 10px;

/* http://bootsnipp.com/snippets/featured/bootstrap-drag-and-drop-upload */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}

.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

.hide {
  display: none;
}

.top-padding {
  padding-top: 60px;
}

.pics-container {
  padding-right: @item-margin;
  padding-left: @item-margin;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: -@item-margin;
  margin-right: -@item-margin;

  justify-content: center;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;

  width: 100%;
  max-width: 330px;
  min-width: 220px;
  max-height: 290px;

  @media (min-width: 725px) {
    width: auto;
  }

  transition: all 0.4s ease-in-out;
  overflow-y: hidden;
  overflow-x: hidden;

  &.invisible {

    @media (max-width: 724px) {
      min-height: 0;
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      border: 0;
    }

    @media (min-width: 725px) {
      min-width: 0;
      max-width: 0;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      border: 0;
    }
  }
}

.pic {
  text-align: center;

  max-width: 320px;
  height: 240px;

  @media (min-width: 725px) {
    width: 320px;
    height: 240px;
  }
}

.thumb {
  max-height: 100%;
}

.caption {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-between;

  > div {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.pic-link {
  margin-left: auto;
}

.pics-feedback {
  text-align: center;
}
